* {
    margin: 0%;
    font-family: 'Open Sans', sans-serif;
}

section {
    margin-top: 130px;
}

/* header and navigation style */
.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    height: 64px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    background: #FD6E0A;
    border-radius: 5px;
    border: 0ch;
    padding: 18px 36px;
}

.header {
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

nav li {
    list-style: none;
    margin-left: 50px;

}

nav ul {
    display: flex;
    align-items: center;
}

/* banner style */
.banner {
    margin: 0px 200px;
    display: flex;
    align-items: center;
}

.banner-sub-title {
    font-weight: 600;
    font-size: 45px;
    color: #474747;
}

.banner-title {
    font-weight: 700;
    font-size: 85px;
    color: #181818;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner-description {
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}

/* main section */
main {
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
}

/* about section styles */
.about {

    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 156px;
}

.section-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 35px;

    color: #181818;
}

.section-details {
    color: #757575;
    font-size: 18px;
    line-height: 30px;
    margin: 30px 0;
}

/* about info container */
.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about .info-title {
    color: #757575;
    font-size: 20px;
    font-size: 20px;
}

.info-description {
    text-align: center;
    color: #474747;
    font-weight: 700;
    font-size: 20px;
}

/* What I Do style */

.what-i-do {

    font-weight: 700;
    font-size: 35px;

    color: #181818;
}

.what-i-do-details {
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin: 30px 150px 50px;
    text-align: center;
}

/* skills container */
.skill-container {
    display: flex;
    gap: 24px;
    text-align: left;
}

.skill {
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}

.skill-title {
    font-weight: 700;
    font-size: 20px;
    color: #181818;
    margin: 40px 0 20px;
}

/* resume styles */
.resume-content {
    display: flex;
    text-align: left;
    gap: 24px;
}

.resume-title {
    color: #474747;
    font-weight: 700;
    font-size: 30px;
}

.resume .title {
    font-weight: 700;
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;
}

.resume .sub-title {
    font-weight: 600;
    font-size: 20px;
    color: #757575;
    margin-bottom: 20px;
}

.resume .description {
    color: #757575;
}

.resume-item {
    margin: 30px 0;
}

.resume-button {
    margin: 50px 0 113px;
}

/* contact section */
.contact {
    display: flex;
    gap: 100px;
    background: #FFF8F3;
    padding: 130px 230px;
}

.contact .section-title {
    text-align: left;
    margin-bottom: 20px;
}

.contact-description {
    color: #474747;
}

.connect {
    text-align: left;

}
.message{
    text-align: left;
}
.contact input[type="text"], input[type="email"], textarea{
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding: 18px 30px;
}
input{
    height: 64px;
}
.section-description{
    color: #474747;
    margin-bottom: 35px;
    margin-top: 0%;
}
.contact a{
    text-decoration: none;
    margin-right: 25px;
}